.Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 140px;
  height: 320px;
  border-radius: 6px;
  box-shadow: 0 0 4px lightgray;

  transition: transform 0.35s;
  scroll-snap-align: end;
}

.Card:hover {
  transform: scale(1.1);
}

.Card__image {
  width: 140px;
  height: 120px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  object-fit: cover;
}

.Card__text {
  padding: 10px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
}

.Card__text--title {
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
}
.Card__text--title:hover {
  color: rgb(255, 145, 0);
}

.Card__text--desc {
  margin: 0;
  font-size: 0.9rem;
}
.Card___btn--add {
  position: absolute;
  bottom: 46px;
  left: 10px;
  border: 0;
  padding: 5px;
  background: rgb(255, 145, 0);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  border-radius: 100%;
  font-weight: bold;
  cursor: pointer;
}
.Card___btn--add:hover {
  scale: 1.4;
  background-color: rgba(241, 177, 4, 0.842);
}
.Card__text--cat {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  display: inline;
  padding: 2px;
  border: 2px solid rgb(37, 37, 37);
  font-size: 0.8rem;
  font-weight: bold;
  background-color: rgba(194, 193, 193, 0.528);
}

.Card__text--price {
  position: absolute;
  bottom: 50px;
  right: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: right;
}
