<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>{{titolo}}</title>
</head>
<body>
   
    {{> header }} 
    
    <section class="main">
    <h1>Benvenuto nella home della pagina</h1>
    
    {{> images}}

   
    <p>Il mio animale preferito è il {{pet}}</p>
    <p>Il mio colore preferito è il {{color}}</p>
    <p>La mia stagione preferita è l' {{season}}</p>
    </section>
    {{> footer }}
</body>
</html>