<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Mi presento</title>
</head>
<body>
    {{> header }}
    <section class="main"><h1>Benvenuto nella pagina mi presento</h1>
   <form action="/login" method="POST">
<label for="name"> Indica il tuo nome</label>
<input type="text" name="name" placeholder="nome"> 
<label for="surname"> Indica il tuo cognome</label>
<input type="text" name="surname" placeholder="cognome">
<button type="submit">Invia</button>

    </form></section>
    {{> footer }}
</body>
</html>