.ListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 150px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 4px rgb(222, 222, 222);
  position: relative;
}

.ListItem button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 5px;
  border: none;
  border-radius: 100%;
  box-shadow: 0 0 4px #213547d9;
  padding: 0;
  height: 25px;
  width: 25px;
  color: #213547;
  font-size: 1rem;
  transition: transform 0.35s;
}

.ListItem button:hover {
  background: black;
  color: antiquewhite;
  transform: scale(1.1);
}

.Checkbox {
  font-size: 1.2rem;
  cursor: pointer;
  fill: bisque;
}

.fill {
  fill: rgba(3, 23, 3, 0.578);
}

.listItem__date {
  position: absolute;
  top: -12px;
  left: 8px;
}
