.Main {
  margin: 0;
  border: 0;
  width: 100vw;
}

.dark-mode {
  background-color: rgba(0, 0, 0, 0.599);
  color: white;
}

.toggle-mode {
  position: fixed;
  top: 50px;
  right: 50px;
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
}
