@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
.general_title {
  /* border: 1px solid red; */
  text-align: center;
  padding: 0 10px;
  /* font-family: "Delius Swash Caps", cursive; */
  font-family: "Yellowtail", cursive;
  border-bottom: 1px dotted rgba(42, 37, 46, 0.943);
  font-size: 2rem;
}
.ListInput {
  /* border: 1px solid violet; */

  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 150px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgb(222, 222, 222);
  background-color: #f9d29d;
  background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
}

.ListInput input {
  outline: none;
  border: 0.5px solid rgba(189, 189, 189, 0.571);
  box-shadow: 0 0 4px rgba(255, 135, 44, 0.279);
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  height: 100px;
  font-family: "Yellowtail", cursive;
  font-size: 1.3rem;
}

.ListInput input:hover {
  background-color: rgb(252, 229, 199);
}
