.Hero {
  position: relative;
}

.Hero img {
  height: 400px;
  width: 100vw;
  object-fit: cover;
}

.Hero h2 {
  position: absolute;
  bottom: calc(20%);
  right: 10%;
  height: 40px;
  color: white;
  font-size: 3rem;
}
